<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ 'css/bootstrap.min.css'|staticfile }}">
    <link rel="stylesheet" href="{{ 'css/bootstrap-slider.min.css'|staticfile }}">
    <link rel="stylesheet" href="{{ 'css/index.css'|staticfile }}">
    <script type="application/javascript">
        // bind patch - QtWebkit not support bind()
        Function.prototype.bind = function (bind) {
            var self = this;
            return function () {
                var args = Array.prototype.slice.call(arguments);
                return self.apply(bind || null, args);
            };
        };
    </script>
</head>
<body scroll="no" style="overflow-x:hidden;overflow-y:hidden">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h2 class="text-info">控制精度</h2>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 setting-bar">
                    <p class="text-info">Yaw</p>
                </div>
                <div class="col-sm-10 col-md-10 col-lg-10 setting-bar">
                    <input id="valYAW" type="text" style="width: 100%"/>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 setting-bar">
                    <p class="text-info">Pitch</p>
                </div>
                <div class="col-sm-10 col-md-10 col-lg-10 setting-bar">
                    <input id="valPITCH" type="text" style="width: 100%"/>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 setting-bar">
                    <p class="text-info">Zoom</p>
                </div>
                <div class="col-sm-10 col-md-10 col-lg-10 setting-bar">
                    <input id="valZOOM" type="text" style="width: 100%"/>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h2 class="text-info">链路设置</h2>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="col-sm-2 col-md-2 col-lg-2 setting-bar">
                        <p class="text-info">RE232</p>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 setting-bar">
                        <p class="text-success">IP:</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 setting-bar">
                        <input value="192.168.1.70">
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 setting-bar">
                        <p class="text-success">PORT:</p>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2 setting-bar">
                        <input value="1234">
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="col-sm-2 col-md-2 col-lg-2 setting-bar">
                        <p class="text-info">DEBUG</p>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 setting-bar">
                        <p class="text-success">IP:</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 setting-bar">
                        <input value="192.168.1.150">
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 setting-bar">
                        <p class="text-success">PORT:</p>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2 setting-bar">
                        <input value="7878">
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="col-sm-10 col-md-10 col-lg-10"></div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <button type="button" id="setting" class="btn-default" style="width: 100%; font-size: 24px">确定</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-4 fullscreen" style="background-color: #1b6d85">
                <canvas id="pad" width="1000px" height="1000px"></canvas>
            </div>
            <div class="col-md-7 col-lg-7 col-sm-7 fullscreen" style="background-color: #5bc0de"></div>
            <div class="col-md-1 col-lg-1 col-sm-1 fullscreen" style="background-color: #5cb85c">
                <canvas id="zoom" width="100px" height="1000px"></canvas>
            </div>
        </div>
    </div>
</body>
<script src="{{ 'js/jquery-2.2.3.min.js'|staticfile }}"></script>
<script src="{{ 'js/bootstrap.min.js'|staticfile }}"></script>
<script src="{{ 'js/bootstrap-slider.min.js'|staticfile }}"></script>
<script src="{{ 'js/index3.js'|staticfile }}"></script>
</html>